:root {
     --main-color: hotpink;
}
body {
    margin: 0;
    padding: 0;
    color: var(--main-color);
    font-family: sans-serif;
}
* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#gameboard {
    width: 450px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    
}
.box {
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-color);

}
button {
    color: var(--main-color);
}
button:hover {
    transform: translateY(-5px)
}